*{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
body{background-color: #f8f9fa;}
.container{max-width: 1500px;}
.font-size-16{font-size: 16px!important;}
.font-size-30{font-size: 30px!important;}
.position-relative{position: relative;}
.bg-black{background-color: #212529;}
.bg-icon-left svg{transform: rotate(30deg);position: absolute;left: 10%;bottom: 20%;opacity: 0.1;}
.bg-icon-right svg{transform: rotate(30deg);position: absolute;right: 10%;top: 20%;opacity: 0.9;}

header{overflow: hidden;height: 56px;}

.index-section-2 a{display: block;}
.index-section-2 a:hover{text-decoration: none;}